# Welcome!

This repo has been created by [Gitoboros](https://gitoboros.xyz), a tool for migrating GitHub contributions.

This repo holds all public contributions of `https://github.com/{{ account }}` as of {{ timestamp }}.

# How to use it

Create private GitHub repo and then:

```
git remote add github [your-private-repo-url]
git branch -M {{ branch }}
git push -u github {{ branch }}
```

