# Welcome!

This repo has been created by [Gitoboros](https://gitoboros.xyz), a tool for migrating GitHub contributions.

This repo holds all public contributions of `https://github.com/{{ account }}` as of {{ timestamp }}.

# How to use it

Create new private GitHub repo and then:

```
git remote add github [your-private-repo-adress]*
git branch -M {{ branch }}
git push -u github {{ branch }}
```

* Repo address is written in the "Quick setup" section of the empty repo page
 and starts with either `https://github.com` or `git@github.com`

